<div class="b-component">
  <div class="t-service-info">
    <div>
      this is data from t service: {{tServiceData}}
    </div>
    <div>
      <input type="text" #tInput>
      <button type="button" name="button" (click)="setTServiceData(tInput.value)">update t service</button>
    </div>
  </div>
  <div class="s-service-info">
    <div>
      this is data from s service: {{sServiceData}}
    </div>
    <div>
      <input type="text" #sInput>
      <button type="button" name="button" (click)="setSServiceData(sInput.value)">update s service</button>
    </div>
  </div>
</div>
